:root {
  --bg-page: #e5e7eb;
  --bg-card: #f9fafb;
  --color-primary: #111827;
  --color-secondary: #1f2937;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-page);

  .board {
    display: grid;
    grid-template-columns: repeat(8, 46px);
    border: solid 8px var(--color-primary);

    > div {
      width: 46px;
      height: 46px;
      background: var(--bg-card);
    }

    > div:nth-child(16n + 1),
    > div:nth-child(16n + 3),
    > div:nth-child(16n + 5),
    > div:nth-child(16n + 7),
    > div:nth-child(16n + 10),
    > div:nth-child(16n + 12),
    > div:nth-child(16n + 14),
    > div:nth-child(16n + 16) {
      background: var(--color-secondary);
    }
  }
}